/* геометрія */

/* колір */

/* шрифт */

/* динаміка */

:root {
  --title-text-color: #000000;
  --primary-text-color: rgba(0, 0, 0, 0.8);
  --primary-white-color: #ffffff;
  --accent-color: #18a0fb;
  --secondary-bg-color: #f5f5f5;
  --add-color: #ffa500;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

legend {
  color: var(--accent-color);
  font-weight: bold;
}

body {
  /* геометрія */

  /* колір */
  background-color: var(--secondary-bg-color);
  color: var(--primary-text-color);

  /* шрифт */
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 400;

  /* динаміка */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

a[href='abc'] {
  color: var(--accent-color);
}

a[href='bcd'] {
  color: var(--add-color);
}

a[href='cde'] {
  color: var(--accent-color);
}

.list {
  list-style: none;
  margin: 0;
}

legend {
  padding: 0 10px;
}

.bg {
  background-color: #ccc;
}

.container {
  width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
  background-color: teal;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: var(--title-text-color);

  font-size: 24px;
  text-decoration: none;
}

.site-nav {
  display: flex;
}

.site-nav .item:not(:last-child) {
  margin-right: 60px;
}

/* .site-nav .item + .item {
  margin-left: 60px;
} */

.site-nav .link {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  text-decoration: none;

  color: var(--accent-color);
}

.site-nav .link:hover {
  color: var(--add-color);
}

.auth-nav {
  display: flex;
}

/* .auth-nav .item:not(:last-child) {
  margin-right: 12px;
} */

.auth-nav .item + .item {
  margin-left: 12px;
}

/* 2 */

.main-nav2 {
  display: flex;
  align-items: center;
}

.site-nav2 {
  display: flex;
  margin-left: 80px;
}

.site-nav2 .item:not(:last-child) {
  margin-right: 60px;
}

.site-nav2 .link {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  text-decoration: none;

  color: var(--accent-color);
}

.site-nav2 .link:hover {
  color: var(--add-color);
}

.auth-nav2 {
  display: flex;
  margin-left: auto;
}

.auth-nav2 .item + .item {
  margin-left: 12px;
}

/* 3 */

.main-nav3 {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.site-nav3 {
  display: flex;
  margin-left: 80px;
}

.site-nav3 .item:not(:last-child) {
  margin-right: 60px;
}

.site-nav3 .link {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  text-decoration: none;

  color: var(--accent-color);
}

.site-nav3 .link:hover {
  color: var(--add-color);
}

.auth-nav3 {
  display: flex;
}

.auth-nav3 .item + .item {
  margin-left: 12px;
}

.section {
  padding: 120px 0;
}

.section.no-padding {
  padding-top: 0;
  padding-bottom: 0;
}

.section-title {
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 1.4;

  color: var(--title-text-color);
}

.section-title.centered,
.section-description.centered {
  text-align: center;
}

.section-description {
  margin-top: 0;
  margin-bottom: 60px;
  font-size: 36px;
}

.client-list {
  display: flex;
  flex-wrap: wrap;
  width: 1080px;
  margin: -30px -45px;
  margin-left: auto;
  margin-right: auto;
}

.client-list li {
  margin: 30px 45px;
}

.feature-list {
  display: flex;
  flex-wrap: wrap;
}

.feature-list > .item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;

  background-color: #fff;
}

.feature-list > .item:nth-child(3n) {
  margin-right: 0;
}

.feature-list > .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.feature-list .text {
  margin-top: 0;
  margin-bottom: 30px;
}

.feature-list .title,
.work-list .title {
  /* геометрія */
  margin-top: 0;
  margin-bottom: 24px;

  /* колір */
  color: var(--title-text-color);

  /* шрифт */
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;

  /* динаміка */
}

.work-list > .item {
  display: flex;
  align-items: center;
  padding: 80px 0;
}

.work-list > .item:nth-child(2n) {
  flex-direction: row-reverse;
  background-color: #18a0fb;
}

.work-list > .item:nth-child(2n + 1) .content {
  margin-left: 84px;
}

.work-list > .item:nth-child(2n) .content {
  margin-right: 84px;
}

.btn {
  color: var(--title-text-color);
  background-color: var(--primary-white-color);

  text-decoration: none;
}

.btn.primary {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.btn.secondary {
  color: var(--accent-color);
  background-color: var(--primary-white-color);
}

.hero {
  text-align: center;
}

.hero-title {
  /* геометрія */
  margin-top: 0;
  margin-bottom: 40px;
  text-transform: uppercase;

  /* колір */
  color: var(--title-text-color);

  /* шрифт */
  font-weight: 400;
  font-size: 56px;
  line-height: 1.4;
  /* text-align: center; */

  /* динаміка */
}

/* геометрія */

/* колір */

/* шрифт */

/* динаміка */

.button {
  /* геометрія */
  display: inline-block;
  min-width: 130px;
  padding: 7px 24px;
  border-radius: 6px;
  text-align: center;

  /* колір */
  border: 1px solid transparent;

  /* шрифт */
  text-decoration: none;

  /* динаміка */
}

.button.primary {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.button.secondary {
  color: var(--accent-color);
  background-color: var(--primary-white-color);
  border: 1px solid var(--accent-color);
}

.button-icon {
  /* геометрія */
  display: inline-flex;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right: 10px;
  /* колір */
  background-color: #ffa500;

  /* шрифт */

  /* динаміка */
}

/* images */

.flex-container {
  display: flex;
  flex-wrap: wrap;
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.flex-box {
  height: 192px;
  width: calc(50% - 22px);
  margin: 10px;
  box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.2),
    2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.flex-box:nth-child(1) {
  background-color: #18a0fb;
  background-image: url('../images/png/cat.png');
  background-repeat: repeat-x;
}

.flex-box:nth-child(2) {
  background-color: lightseagreen;
  background-image: url('../images/png/bird.png');
  background-repeat: repeat-y;
  background-position: 50%;
}

.flex-box:nth-child(3) {
  background-color: aquamarine;
  background-image: url(../images/png/dog.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 35%;
}

.flex-box:nth-child(4) {
  background-color: cornflowerblue;
  background-image: url(../images/png/turtle.png);
}

.overlay {
  max-width: 1600px;
  height: 480px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid #ccc;

  background-color: rgb(116, 116, 116);
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url('../images/img/fish.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.pseudo-button {
  display: inline-flex;
  align-items: center;
  padding: 10px 20px;
  background-color: teal;
  color: #fff;
  border-radius: 3px;
  text-decoration: none;
  cursor: pointer;
}

.pseudo-button:hover,
.pseudo-button:focus {
  background-color: palevioletred;
}

.pseudo-button::before {
  content: '';
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background-image: url('../images/png/rocket-icon.png');
  background-size: contain;
}

/* LIST */

.pseudo-list {
  display: flex;
  padding: 0;
  list-style: none;
}

.pseudo-list-item {
  width: 350px;
  margin: 10px;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}

.pseudo-list-item::before {
  display: block;
  content: '';
  height: 120px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ccc;
}

.pseudo-icon-delivery::before {
  background-image: url('../images/svg/logo.svg');
}

.pseudo-icon-mobile::before {
  background-image: url('../images/svg/mobile-icon.svg');
}

.pseudo-icon-code::before {
  background-image: url('../images/svg/code-icon.svg');
}

.pseudo-list-item > .pseudo-title {
  margin-top: 0;
}

.pseudo-list-item > .pseudo-text {
  margin-top: 0;
  margin-bottom: 0;
}

/* svg */

.svg-actions {
  padding: 0;
  margin: 0;
  list-style: none;
}

.svg-button {
  width: 120px;
  height: 120px;
  padding: 0;
  border: none;
  color: tan;
  background-color: transparent;
}

.svg-button:hover {
  background-color: teal;
  fill: red;
  border-radius: 8px;
  cursor: pointer;
}

.svg-button-icon {
  fill: currentColor;
}

.svg-button:hover .svg-button-icon {
  fill: black;
}

.position-overlay {
  width: 370px;

  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}

.position-overlay img {
  width: 370px;
}

.position-overlay:hover .position-overlay-actions {
  opacity: 1;
}

.position-overlay-thumb {
  position: relative;
}

.position-overlay-thumb::before {
  display: inline-block;
  content: '';

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.position-overlay-meta {
  padding: 15px;
}

.position-overlay-name {
  margin-top: 0;
  margin-bottom: 10px;
}

.position-overlay-price {
  margin-top: 0;
  margin-bottom: 0;
}

.position-overlay-actions {
  outline: 3px solid orange;
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;

  opacity: 0;
  transition: 0.4s opacity linear;
}

.position-overlay-actions .icon {
  width: 32px;
  height: 32px;
}

body {
  margin: 0;
}

.fixed-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  min-height: 80px;
  background-color: rgba(255, 165, 0, 1);
  outline: 1px solid black;
}

p {
  user-select: none;
}
